@use 'src/styles/helpers' as h;

.root {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: var(--kh-color-text);
  padding: 60px 80px 35px;
  border-radius: 6px;
  margin-top: 60px;

  > * {
    z-index: 2;
  }

  &::after {
    content: "";
    background: #000000;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    z-index: 1;
  }

  @media only screen and (max-width: h.$breakpoint-mobile) {
    flex-direction: column;
    padding: 40px 20px 20px;
  }

  .link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 6px;
    background: #FCFCFD;
    color: #000;
    text-decoration: none;

    @media only screen and (max-width: h.$breakpoint-mobile) {
      margin-right: auto;
    }

    > svg {
      margin-left: 10px;
    }
  }

  h2 {
    color: #FCFCFD;
    font-size: 32px;
    font-weight: 500;
    max-width: 600px;

    @media only screen and (max-width: h.$breakpoint-mobile) {
      max-width: none;
      margin-right: auto;
    }
  }
}
