@use './src/styles/helpers' as h;

.container {
  position: fixed;
  top: h.$gridunit * 2;
  left: h.$gridunit * 2;

  @media only screen and (max-width: h.$breakpoint-tablet) {
    display: none;
  }
}
