@use 'src/styles/helpers' as h;

.contentWrapper {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;

  > div {
    margin-top: -100px;
  }

  .subHeading {
    max-width: 505px;
    display: block;
  }

  .button {
    margin-top: 65px;
    max-width: 230px;
    text-transform: capitalize;
  }

  .socialLinks {
    position: absolute;
    left: 0;
    bottom: 20px;
  }
}
