@use 'src/styles/helpers' as h;

.list {
  flex: 3;
  padding-right: h.$gridunit * 10;

  .listItem {
    a {
      color: h.$color-text;
    }

    &:not(:first-child) {
      margin-top: h.$gridunit * 6;
    }
  }
}

.tags {
  flex: 1;
  margin-left: h.$gridunit * 6;

  li {
    &:not(:first-child) {
      margin-top: h.$gridunit * 4;
    }

    a {
      color: h.$color-text;
    }
  }

  @media only screen and (max-width: h.$breakpoint-mobile) {
    display: none;
  }
}
