@use 'src/styles/helpers' as h;

button.backLink {
  display: flex;
  text-transform: inherit;
  margin-right: auto;
  color: h.$color-grey;

  &:first-letter {
    text-transform: uppercase;
  }
}

.header {
  margin-top: h.$gridunit * 8;

  @media only screen and (max-width: h.$breakpoint-mobile) {
    margin-top: h.$gridunit * 4;
  }
}

.content {
  margin-top: h.$gridunit * 8;

  @media only screen and (max-width: h.$breakpoint-mobile) {
    margin-top: h.$gridunit * 6;
  }

  p {
    color: h.$color-text;
    margin: 0;

    & + p {
      margin-top: h.$gridunit;
    }
  }

  hr {
    margin-top: h.$gridunit * 3;
  }

  h2,
  h3 {
    color: h.$color-text;
    font-weight: 600;
    margin-top: h.$gridunit * 3;
  }

  h2 {
    margin-top: h.$gridunit * 5;
    margin-bottom: h.$gridunit * 2;
  }

  h3 {
    margin-bottom: h.$gridunit;
  }

  h4 {
    margin-top: h.$gridunit * 2;
    margin-bottom: h.$gridunit;
    font-weight: 600;
  }

  b,
  strong {
    font-weight: 600;
  }

  ul {
    list-style: disc;
    margin-left: h.$gridunit * 3;
    margin-bottom: h.$gridunit * 2;
    color: h.$color-text;

    li {
      margin-top: h.$gridunit;
      line-height: 24px;
      font-size: 18px;

      > ul > li {
        list-style: circle;
      }
    }
  }

  code {
    padding: h.$gridunit / 4 h.$gridunit / 2;
    background: h.$color-grey-extra-light;
    color: h.$color-text;
    border-radius: h.$gridunit / 2;
    font-size: 14px;
  }

  img {
    max-width: 100%;
    margin-top: h.$gridunit;
    border-radius: h.$gridunit / 2;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: h.$gridunit * 5;

  p {
    color: h.$color-text;
  }
}
