$gridunit-small: 0.25rem;
$gridunit: 0.5rem;

$color-text: var(--kh-color-text);

$color-grey: var(--kh-color-grey);
$color-grey-light: var(--kh-color-grey-light);
$color-grey-extra-light: var(--kh-color-grey-extra-light);

$color-link: var(--kh-color-link);
$color-link-visited: var(--kh-color-link-visited);

$breakpoint-mobile: 767px;
