
html[data-kh-theme='light'] {
    --kh-color-text: #1A1A1A;

    --kh-color-grey: #464545;
    --kh-color-grey-light: #ccc7c7;
    --kh-color-grey-extra-light: #f1f1f1;

    --kh-color-link: #0089c7;
}

html[data-kh-theme='dark'] {
    --kh-color-text: #FFFFFF;

    --kh-color-grey: #E5E5E5;
    --kh-color-grey-light: #464545;
    --kh-color-grey-extra-light: #313131;

    --kh-color-link: #0089c7;
}

body {
    font-family: 'Poppins', 'sans-serif' !important;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@media only screen and (max-width: 900px) {
    h2 {
        font-size: 32px;
    }
}


